	/* Présent sur toutes les feuilles */
	
	#body{
		background-color:#F5CBA7;
		font-family: 'Times New Roman', Times, serif;
}
	#container{
		/* border:1px solid black; */
		background-color: none;	
	}

	/* Bas de page */
	footer{
		position: fixed;
		bottom: 0px;
		height: 100px;
		/* border: 1px solid green; */
	}

	/*Page d'acceuil */
	
		/* Titre entete */
		.entete{
		text-align: center;
		font-size: 75px;
		color: red;
		text-decoration: underline;
	}
	
	/* Case montagne */
	#cmontagne{
		height:700px;
		/* border: 1px solid yellow; */
	 	background-image:url("images/montagne/fond.jpg");
		background-position:center;
		background-size: cover;
		text-align: center;
		font-size: 50px;
		color: black;
		float:left;
	}
	
	/* Case recette */
	 #crecette{
		height: 700px;
		/* border: 2px solid pink; */
	 	background-image:url("images/recette/fond.jpg");
		background-position:right;
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
		font-size: 50px;
		color: black;
		float:left;	
	} 

	/* style acceuil recette */

		/* Case bavarois */
		#crba{
			position:absolute;
			top:20%;
			left:5%;
			width:30%;
			height:70%;
			/* border: 1px solid blue; */
			background-image:url("Images/recette/bavarois.jpg");
			background-position:center;
			background-repeat:no-repeat;
			background-size: cover;
			float:left;
		}

		/* Case beignet */
		#crbe{
			position:absolute;
			left:35%;
			top:20%;
			width:30%;
			height:70%;
			/* border: 1px solid blue; */
			background-image:url("Images/recette/beignets.jpg");
			background-position:center;
			background-repeat:no-repeat;
			background-size: cover;
			float:left;
		}
		/* Case creme au chocolat */
		#crcr{
			position:absolute;
			top:20%;
			left:65%;
			width:30%;
			height:70%;
			/* border: 1px solid green; */
			background-image:url("Images/recette/creme_chocolat.gif");
			background-position:center;
			background-repeat:no-repeat;
			background-size: cover;
			float:right;
		}	
		
		/* Titre page recette */
		.titreb{
		position:absolute;
		margin-right:200px;
		margin-top:300px;
		font-size:50px;
		/* border: solid; */
		color:#0E6251 ;
		text-decoration:none
		}
	
		/* Recette générale */
		/* Tire page recette */
		.enteter{
			font-size:25px;
		/* 	border: solid 1px green; */
			color:black;
			font-weight: bolder;
			text-align:center;
			text-align: center;
			transform:rotateY(0deg);
			transition: all 1s ease;
		}

		.enteter:hover{
			transform:rotateY(30deg) ;
		}


		/* Bloc entete recette */
		.titrer{
			position: absolute;
			top: 40%;
			left: 25px;
			font-size:50px;
			color:black;
			text-decoration:none;
		}

		/* Menu gauche */
		#menuG{
			height: 800px;
			/* border:purple solid 1px; */
			float:left;
			text-align:center;
			overflow:auto;
			background-color:#ABEBC6;
		}
		
		/* Menu droite */
		#menuD{
		/* 	border:pink solid 1px; */
			float:left;
			background-color:#AED6F1;
		}	

		/* Tableau */
		table, th, td {
		/* 	border:1px solid black; */
			border-collapse: collapse;
			color:black;
			top :0px;
		}

		/*Lien*/

		.menugba{
			position:absolute ;
			left: 0%;
			margin-bottom: 10px;
		}

		.menugba:hover{
			color: white;
		}

		.menugbb{
			position:absolute ;
			left: 20px;
			margin-bottom: 10px;
		}
		.menugbb:hover{
			color: green;
		}
		
		.menugbc{
			position:absolute ;
			left: 40px;
			margin-bottom: 10px;
		}
		.menugbc:hover{
			color: yellow;
		}

		/* Bavarois */
		/* Entete bavarois */
			#titrerecetteba{
			width:100%;
			height:10%;
			/* border:1px solid black; */
			/* background-color:green; */
			background-image:url(Images/recette/vign-bavarois.png);
			background-position:left, top;
			background-repeat:no-repeat;
		}
		/* Beignet */
		/* Entete beignet */
			#titrerecettebe{
			/* border:1px solid black; */
			/* background-color:green; */
			background-image:url(Images/recette/vign-beignets.jpg);
			background-position:left, top;
			background-repeat:no-repeat;
			width:100%;
			height:10%;
		}
			
		/* Cremes au chocolat */
		/* Entete beignet */
			#titrerecettebc{
			/* border:1px solid black; */
			/* background-color:green; */
			background-image:url(Images/recette/vign-creme_chocolat.jpg);
			background-position:left, top;
			background-repeat:no-repeat;
			width:100%;
			height:10%;
		}	
	
	/* style acceuil montagne */

		/* Case Chame Chaude */
		#crcc{
			position: absolute;
			top:20%;
			left:5%;
			width:30%;
			height:70%;
			/* border: 1px solid blue; */
			background-image:url("images/montagne/chamechaude.jpg");
			background-position:center;
			background-size: cover;
			float:left;
		}

		/* Case dome des écrins */
		#crde{
			position: absolute;
			top:20%;
			left:35%;
			width:30%;
			height:70%;
			/* border: 1px solid yellow; */
			background-image:url("images/montagne/domeEcrins.jpg");
			background-position:center;
			background-size: cover;
			float:left;
		}

		/* Case Grand Veymont */
		#crgv{
			position: absolute;
			top:20%;
			left:65%;
			width:30%;
			height:70%;
			/* border: 1px solid green; */
			background-image:url("images/montagne/grandVeymont.jpg");
			background-position:center;
			background-size: cover;
			float:right;
		}
		/* Titre de l'acceuil */
		.titrem{
			text-align: center;
			position:absolute;
			margin-right:200px;
			margin-top:100px;
			font-size:30px;
			/* border: solid; */
			color:rgb(255, 149, 0) ;
			text-decoration:none;
			
		}

		.Tableau{
			border: 1px solid black;
		}